@page "/"

@using TelerikBlazorEF.Services

@inject ProductService ProductService
@inject CategoryService CategoryService

<PageTitle>Index</PageTitle>

<h1>Hello, Telerik Blazor and EF Core!</h1>

<h2>Categories</h2>

<TelerikGrid Data="@CategoryData"
             EditMode="@GridEditMode.Incell"
             OnUpdate="@OnCategoryUpdate"
             OnCreate="@OnCategoryCreate"
             OnDelete="OnCategoryDelete"
             ConfirmDelete="true">
    <GridToolBarTemplate>
        <GridCommandButton Command="Add" Icon="@SvgIcon.Plus">Add Category</GridCommandButton>
    </GridToolBarTemplate>
    <GridColumns>
        <GridColumn Field="@nameof(Category.Id)" Editable="false" Width="60px" />
        <GridColumn Field="@nameof(Category.Name)" />
        <GridCommandColumn Width="160px">
            <GridCommandButton Command="Delete" Icon="@SvgIcon.Trash">Delete</GridCommandButton>
        </GridCommandColumn>
    </GridColumns>
</TelerikGrid>

<h2>Products</h2>

<TelerikGrid Data="@ProductData"
             EditMode="@GridEditMode.Inline"
             OnUpdate="@OnProductUpdate"
             OnCreate="@OnProductCreate"
             OnDelete="OnProductDelete"
             ConfirmDelete="true">
    <GridToolBarTemplate>
        @if (CategoryData.Any())
        {
            <GridCommandButton Command="Add" Icon="@SvgIcon.Plus">Add Product</GridCommandButton>
        }
        else
        {
            <text>Add categories to add products.</text>
        }
    </GridToolBarTemplate>
    <GridColumns>
        <GridColumn Field="@nameof(Product.Id)" Editable="false" Width="60px" />
        <GridColumn Field="@nameof(Product.Name)" />
        <GridColumn Field="@nameof(Product.CategoryId)" Title="Category">
            <Template>
                @{ var gridItem = (Product)context; }
                @CategoryData.Find(x => x.Id == gridItem.CategoryId)?.Name
            </Template>
            <EditorTemplate>
                @{ var gridEditItem = (Product)context; }
                <TelerikDropDownList Data="@CategoryData"
                                     @bind-Value="@gridEditItem.CategoryId"
                                     ValueField="@nameof(Category.Id)"
                                     TextField="@nameof(Category.Name)"
                                     DefaultText="Select Category..." />
            </EditorTemplate>
        </GridColumn>
        <GridCommandColumn Width="240px">
            <GridCommandButton Command="Edit" Icon="@SvgIcon.Pencil">Edit</GridCommandButton>
            <GridCommandButton Command="Delete" Icon="@SvgIcon.Trash">Delete</GridCommandButton>
            <GridCommandButton Command="Save" Icon="@SvgIcon.Save" ShowInEdit="true">Update</GridCommandButton>
            <GridCommandButton Command="Cancel" Icon="@SvgIcon.Cancel" ShowInEdit="true">Cancel</GridCommandButton>
        </GridCommandColumn>
    </GridColumns>
</TelerikGrid>
